@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-gray-100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  @apply bg-white rounded-md shadow-md;
}

.button {
  @apply bg-black text-white px-4 py-2 rounded-md disabled:opacity-75 font-bold;
}

.button--inverted {
  @apply border-2 border-black bg-transparent text-black;
}

.button--compact {
  @apply px-2 py-1 text-sm;
}

.button--plain {
  @apply bg-transparent text-black;
}

.button--rose {
  @apply bg-rose-500;
}

.input {
  @apply outline-none p-2 border border-gray-300;
}

.checkbox {
  @apply h-5 w-5 cursor-pointer;
}

.form-header {
  @apply text-2xl font-bold;
}

.form-label {
  @apply font-bold;
}